body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    position: relative;
    z-index: 2;

}

.image_header{
    width: 60px;
    border-radius: 100%;
    margin-right: 12px;
}

.card {
    width: 18rem;
    margin: 10px;
}

th {
    background-color: #333;
    color: #fff;
}
